<% if signed_in? %>
  <div>
    <%= form_for comment do |f| %>
      <% if comment.errors.any? %>
        <div style="color: red">
          <h2><%= t '.errors' , count: comment.errors.count %> </h2>
          <ul>
            <% comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>

      <% end %>
      <%= f.text_area :body, rows: "6", placeholder: "Add a comment",
        class: %w(w-full h-32 mt-2 p-3 rounded-lg focus:outline-none
        focus:shadow-outline") %>
      <%= f.hidden_field :article_id, value: comment.article.id %>
      <div class="space-y-4 flex text-center">
        <%= f.submit "Submit", class: "purple-btn w-96" %>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-700">
      <%= link_to "Signin to add a comment", sign_in_path %>
    </p>
  <% end %>
  <% if comment.present? %>
    <div class="max-w-2xl mx-auto px-4 mt-5">
      <div class="flex justify-between items-center mb-6">
        <p class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white
          -ml-4">
          Comments
        </p>
      </div>
    </div>
    <div class="comments -mt-6">
      <% comment.article.comments.each do |comment| %>
        <div class="flex justify items-center mb-2">
          <%= comment.user.name %>
        </div>
        <div class="flex justify text-gray-500 dark:text-gray-400 mb-2
          border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <%= comment.body %>
        <% if comment.user_id == current_user.id %>
          <%= link_to t(".edit"), edit_comment_path(comment), class:
            "hover:text-purple-500 hover:underline ml-2" %>
        <% end %>
        </div>
      <% end %>
    </div>
 </div>
 <% end %>
