<div class="flex flex-col space-y-4">
  <div>
    <h1 class="text-xl font-semibold">New article</h1>
  </div>

  <div>
    <%= form_with(model: @article, class: "space-y-4") do |f| %>
      <% if @article.errors.any? %>
        <div style="color: red">
          <h2><%= t '.errors' , count: @article.errors.count %> </h2>

          <ul>
            <% @article.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="space-y-2">
        <%= f.label :title, style: "display: block" %>
        <%= f.text_field :title %>
      </div>

      <div class="space-y-2">
        <%= f.label :content, style: "display: block" %>
        <%= f.text_area :content %>
      </div>
      <div class="space-y-4">
        <%= f.submit t('.submit'), class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
