<div class="relative py-3 mx-auto max-w-lg my-4">
  <div class="max-w-lg rounded overflow-hidden shadow-lg p-20 mb-80">
    <div class="card-header py-3">
      <h1 class="font-bold uppercase text-2xl">
        <p><%= @article.title %></p>
      </h1>
    </div>

    <div class="text-sm">
      <%= t(".by") %>
      <span class="text-purple-500"><%= @article.user.name %></span>
      <%= t(".published_on", date: @article.created_at.strftime("%B %d, %Y")) %>
    </div>
    <p><%= @article.content %></p>
    <div class="space-y-4 flex text-center">
      <% if ArticlePolicy.new(current_user, @article).edit? %>
        <%= link_to "Edit", edit_article_path(@article),
                    class: "purple-btn w-96" %>
      <% end %>
    </div>
      <div class="mt-4">
        <%= render 'comments/form', comment: @comment %>
        <%= render 'comments/comments_section', comments: @comments %>
      </div>
  </div>
</div>
