<p style="color: green"><%= notice %></p>
<p><%= t '.article' %> #<%= @article.id %> </p>

<p><strong><%= t '.title' %></strong><%= @article.title %></p>

<p><strong><%= t '.content' %></strong><%= @article.content %></p>
