<div class="text-field">
  <%= form.label :name, class: "block font-semibold" %>
  <%= form.text_field :name, class: "email-input", placeholder: "Name"%>
  <%= field_with_errors(@user, :name) %>
</div>

<div class="text-field">
  <%= form.label :email, class: "block mt-3 font-semibold" %>
  <%= form.email_field :email, class: "email-input", placeholder: "Email"%>
  <%= field_with_errors(@user, :email) %>
</div>

<div class="password-field">
  <%= form.label :password, class: "block mt-3 font-semibold" %>
  <%= form.password_field :password, class: "password-input",
    placeholder: "Password"%>
  <%= field_with_errors(@user, :password) %>
</div>
