<div class="relative py-3 mx-auto max-w-lg my-4">
  <div class="max-w-lg rounded overflow-hidden shadow-lg p-20 mb-80">
    <div id="clearance" class="password-reset">
      <div class="card-header py-3">
        <h1 class="font-bold uppercase text-2xl"><%= t(".title") %></h1>
      </div>
      <div class="my-8">
        <%= t(".description") %>
      </div>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="my-2">
          <%= form.label :email, class: "font-bold" %>
          <%= form.email_field(
            :email,
            class: %w[
              w-full
              mt-2
              p-3
              rounded-lg
              focus:outline-none
              focus:shadow-outline
            ]
          ) %>
        </div>
        <div class="submit-field">
          <%= form.submit class: "purple-btn w-full mt-9 p-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
