<!DOCTYPE html>
<html>
  <head>
    <title>Rumblr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="crumbs">
        <ul>
            <li class="crumb"><a href="#"><%= t(".title") %></a></li>
            <li class="crumb"><%= link_to t(".sign_in"), sign_in_path %></li>
        </ul>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>

      <%= render "flashes" %>
      <%= yield %>
    </main>
  </body>
</html>
