<!DOCTYPE html>
<html>
  <head>
    <title>Rumblr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless current_page?(sign_in_path) %>
      <div class="header sticky top-0 bg-white shadow-md flex
                    items-center px-8 py-02 h-16 flow-root">
        <div class="float-left mt-3">
          <a class="p-2">
            <%= link_to t(".title"), root_path, class: "text-3xl" %>
          </a>
        </div>
        <div class="float-right">
            <nav class="nav font-semibold text-lg">
              <ul class="flex items-center">
                <% if signed_in? %>
                  <li class="mb-1">
                    <%= t(".greeting", email: current_user.email) %>
                  </li>
                  <li class="mb-1">
                    <%= button_to t(".sign_out"), sign_out_path, method: :delete,
                    class:"p-4 border-b-2 border-purple-500 border-opacity-0
                    hover:border-opacity-100 hover:text-purple-500
                    duration-200 cursor-pointer active" %>
                  </li>
                <% else %>
                  <li class="mb-1">
                    <%= button_to t(".sign_in"), sign_in_path,
                    class:"p-4 border-b-2 border-purple-500 border-opacity-0
                    hover:border-opacity-100 hover:text-purple-500
                    duration-200 cursor-pointer active" %>
                  </li>
                <% end %>
              </ul>
            </nav>
        </div>
      </div>
    <% end %>
    <main>
      <%= render "flashes" %>
      <%= yield %>
    </main>
  </body>
</html>
